@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loader-bg{
    position: fixed;
    top:0; 
    left:0; 
    right:0; 
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    animation: fadeInOut 2s  ease-in-out;
    opacity: 0;
    
 }

 .loader-bg.active {
    opacity: 1;
}

 .loader-bg img{
    width: 30rem;
    transform: translate(0%, 20%);    
 }

 .loader-text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    animation: fadeInOut 2s  ease-in-out;
    opacity: 0;

 }


.menu-fade-enter-active,
.menu-fade-leave-active {
    transition: opacity 0.3s, transform 1s;
}
.menu-fade-enter,
.menu-fade-leave-to {
    opacity: 0;
    transform: translateY(-100px);
}