@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}.loader-bg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 4s ease-in-out;
    width: 8rem;
    opacity: 0;
}

.loader-bg.active {
    opacity: 1;
}

.loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2rem;
    animation: fadeInOut 4s ease-in-out;
    opacity: 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}



.menu-fade-enter-active,
.menu-fade-leave-active {
    transition: opacity 0.3s, transform 1s;
}
.menu-fade-enter,
.menu-fade-leave-to {
    opacity: 0;
    transform: translateY(-100px);
}